#header .inn
{width: 844px;
height: 90px;
margin-top: 10px;
margin-right: 10px;
float: left;
background: green;	
}

#header .nav 1
{width: 844px;
 height: 50px;
 margin-top: 10px;
 margin-right: 10ox;
 margin-bottom: 10px;
 float: left;
 background: blue;
 color: yellow;
}	

